/* CardDetails.css */

/* Container styles */
.card-details-container {
  padding: 20px;
  padding-right: 40px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Title styles */
.icon-md {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.card-title {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #333; /* Darken the title color */
  margin-bottom: 12px; /* Add spacing between title and description */
}

/* Description textarea styles */
.description-textarea {
  width: 100%;
  min-height: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
  transition: border-color 0.2s ease;
  margin-bottom: 12px; /* Add spacing between description and buttons */
}

.description-textarea:focus {
  border-color: #61bd4f;
  outline: none; /* Remove default focus outline */
}

/* Action button styles */
.card-action-btn > button {
  background-color: #61bd4f;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: background-color 0.2s ease;
  margin-right: 12px; /* Add horizontal spacing between buttons */
}

.card-action-btn > button:last-child {
  margin-right: 0; /* Remove margin from the last button */
}

.card-action-btn > button:hover {
  background-color: #4f9e3d;
}

/* Icon styles */
.icon-sm > svg {
  height: 18px;
  width: 18px;
  margin-right: 6px;
}

/* Tag styles */
.card__tags {
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-bottom: 12px; /* Add spacing between tags and footer */
}

/* Footer styles */
.card__footer {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.card__footer div {
  display: flex;
  align-items: center;
}

.card__footer span {
  font-size: 12px;
  color: rgb(116, 116, 116);
  margin-inline: 2px;
  font-weight: 500;
}
